
/* responsive style for tablet */
@media screen and (min-width:481px) and (max-width:768px){
    .nav-container,
    .banner-container,
    .gamer-container
    {
       flex-direction: column;
       
   }
   .nav-items-container{
    display: grid;
      text-align: center;
       
   }
   .follow-us{
    margin-top: 10px;
}


.banner-container img{
    width: 100%;
}
.gamer-container img{
    width: 100%;
}

.gamer-details{
    text-align: center;
}

.banner-details{
    text-align: center;
}
    
}














/* responsive style for mobile  */

@media screen and (max-width:480px){

    .nav-container,
    .banner-container,
    .gamer-container
     { 
        flex-direction: column;
    }
    .nav-items-container{
        display: grid;
      
    }
      
   .follow-us{
    margin-top: 10px;
}
.banner-container img{
    width: 100%;
}
.gamer-container img{
    width: 100%;
}
   
.gamer-details{
    text-align: center;
}

}