/* responsive style for tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-container,
    .banner-container,
    .gamer-container,
    .play-games-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container {
       
    }

    .nav-items-container{
        margin-top: 40px;
       
    }
.nav-items-container a{
display: block;
text-align: center;
margin-top: 20px;
}

    .follow-us {
        margin-top: 10px;
    }


    .banner-container img {
        width: 100%;
    }

    .gamer-container img {
        width: 100%;
    }

    .gamer-details {
        text-align: center;
    }

    .banner-details {
        text-align: center;
    }

    .games-videos {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
}
}














/* responsive style for mobile  */

@media screen and (max-width: 480px) {

    .nav-container,
    .banner-container,
    .gamer-container,
    .play-games-container {
        flex-direction: column;
    }

    .banner-container img {
        width: 100%;
    }

    .gamer-container img {
        width: 100%;
    }

    .gamer-details {
        text-align: center;
    }

    .games-videos {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         
}

}

